{% load static %}

<footer id="footer">


    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="credits text-center">

                Designed by <strong>Ivy</strong>
            </div>
            <div class="copyright">
                &copy; CopyrightAll Rights Reserved
            </div>
            
        </div>

    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>